@use "base/variables" as v;

.header {
  width: 100%;
  height: 80%;
  background-image: url("../../../../assets/img/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &-title {
    position: absolute;
    top: 7rem;
    left: 3rem;
    letter-spacing: 3;
    font-weight: bolder;
    font-size: 52px;
    color: v.$whiteColor;
    text-shadow: 4px 2px 0px rgba(0, 0, 0, 0.2);

    span {
      color: v.$primaryColor;
    }
  }
}
